{% extends "./base.html" %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <span>
                <h2>ユーザー情報</h2>
            </span>
            <div class="table-main bg-light mt-3">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <p>学年</p>
                            </td>
                            <td>
                                <p>{{ object.user_info_grade_number }} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>データ登録</p>
                            </td>
                            <td>
                                <p>{{ object.user_info_class_number }} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>出席番号</p>
                            </td>
                            <td>
                                <p>{{ object.user_info_student_number }} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>名前</p>
                            </td>
                            <td>
                                <p>{{ object.user_info_student_name }} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>体温</p>
                            </td>
                            <td>
                                <p>{{ object.user_info_body_temperature }} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>前回実行日</p>
                            </td>
                            <td>
                                {% if object.user_info_last_run_at is None %}
                                    <p> - </p>
                                {% else %}
                                    <p>{{ object.user_info_last_run_at }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary rounded-pill">
                                <a class="text-white" href="{% url 'users:index' %}"><i class="fas fa-home">戻る</i></a>
                            </button>
                        </div>
                        <div class="col-8 d-flex justify-content-end text-right">
                            <button type="submit" class="btn btn-secondary rounded-pill">
                                <a class="text-white" href="{% url 'users:update' user.pk %}"> ユーザー情報更新</a>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}
