{% extends 'users/base.html' %}

{% block content %}
    <h2 class="my-4">使い方</h2>
    

    {% if user.is_authenticated %}
        <p>ユーザー名: {{ user.username }}</p>
        <p>ユーザー名_line: {{ user.line_username }}</p>
        <p>ユーザー名_line: {{ user.pk }}</p>
        <a href="{% url 'users:logout' %}">ログアウト</a>
    {% else %}
        <a href="{% url 'social:begin' 'line' %}">LINEでログインする</a>
    {% endif %}
    
    <a href="{% url 'users:create' %}"> リスト </a>

{% endblock content %}
