{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row .mt-5">
        <br>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            {% if user.is_authenticated %}
            <span>
                <h2>ホームページ</h2>
            </span>
            <div class="table-main bg-light mt-3">
                <table class="table">
                    <tbody>

                        {% if obj == 0 %}
                            <tr>
                                <td>
                                    <p>データが登録されていません</p>
                                </td>
                                <td>
                                    <div class="d-grid gap-2 position-relative">
                                        <button class="btn btn-success" type="button"><a class="text-white stretched-link" href="{% url 'users:create' %}"> データ登録</a></button>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <p>データを確認できます</p>
                                </td>
                                <td>
                                    <div class="d-grid gap-2 position-relative">
                                        <button class="btn btn-success" type="button"><a class="text-white stretched-link" href="{% url 'users:detail' user.pk %}"> データ確認</a></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>データを変更できます</p>
                                </td>
                                <td>
                                    <div class="d-grid gap-2 position-relative">
                                        <button class="btn btn-primary" type="button"><a class="text-white stretched-link" href="{% url 'users:update' user.pk %}"> データ更新</a></button>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <div class="d-flex justify-content-end text-right mt-5">
                    <button type="submit" class="btn btn-secondary rounded-pill">
                        <a class="text-white" href="{% url 'users:howto' %}"> よくある質問</a>
                    </button>
                </div>
            </div>

        </div>
            {% else %}
                <div class="table-main mt-3">
                    <div class="m-5 py-3">
                        <div class="d-grid gap-2 position-relative">
                            <button class="btn btn-success" type="button"><a class="text-white stretched-link" href="{% url 'social:begin' 'line' %}"> lineログイン</a></button>
                        </div>
                        <div class="d-grid gap-2 pt-3 position-relative">
                            <button class="btn btn-primary" type="button"><a class="text-white stretched-link" href="{% url 'users:guest_login' %}"> 簡単ログイン</a></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}
