<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Member表</title>
</head>

<body>
    <h1>Memberモデル</h1>
    <p>{{ message }}</p>
    <table border="1">
        <tr>
            <th>クラス番号</th>
            <th>出席番号</th>
            <th>名前</th>
            <th>体温</th>
        </tr>
        {% for member in data %}
        <tr>
            <td>{{ member.user_info_class_number }}</td>
            <td>{{ member.user_info_student_number }}</td>
            <td>{{ member.user_info_student_name }}</td>
            <td>{{ member.user_info_body_temperature }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>